@import "../../common/colors.scss";

.header {
  background-color: $secondary-color;
  height: 140px;
  padding: 0px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $medium) {
    padding: 0;
    justify-content: center;
  }
}

a {
  text-decoration: none;
  color: $font-primary;
}

.logo {
  color: $font-primary;
  font-size: 30px;
  font-weight: 600;
  width: 193px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

.user-image,
.user-image img {
  width: 38px;
  height: 38px;
}

.search-bar {
  // width: 100%;
  margin: 40px 40px;

  @media screen and (max-width: $medium) {
    margin: 40px;
    // width: 95%;
  }

  @media screen and (max-width: $small) {
    width: 100%;
    margin: 15px 6px;
  }

  form {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}

input {
  font-size: 18px;
  width: 100%;
  padding: 5px 5px 5px 10px;
  height: 38px;
  outline: none;
  color: #000;

  @media screen and (max-width: $medium) {
    width: 100%;
  }

  @media screen and (max-width: $small) {
    width: 73%;
    font-size: 16px;
  }
}

.search-text {
  display: block;
  color: $font-secondary;
  padding-bottom: 5px;
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  text-align: left;

  @media screen and (max-width: $medium) {
    font-size: 24px;
  }

  @media screen and (max-width: $small) {
    font-size: 16px;
    padding-left: 39px;
    text-align: left;
  }
}

.banner-img {
  height: 550px;
  width: 100%;
  background-image: url("../../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @media screen and (max-width: $medium) {
    background-position: left;
  }

  @media screen and (max-width: $small) {
    font-size: 28px;
    width: 100%;
    height: 257px;
    background-position: bottom;
  }

  h1 {
    font-size: 72px;
    line-height: 93.74px;
    letter-spacing: -0.05em;
    font-weight: 700;
    width: 490px;
    height: 282px;
    padding: 70px 60px;

    @media screen and (max-width: $medium) {
      text-align: center;
      margin: 0 auto;
      padding: 120px 0;
      line-height: 94px;
    }

    @media screen and (max-width: $small) {
      font-size: 28px;
      width: 100%;
      height: 72px;
      line-height: 36px;
      text-align: center;
      letter-spacing: -0.05em;
      padding: 90px 0;
    }
  }
}
